@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #ff385c;
  --error-color: #c13515;
  --check-color: rgb(0, 138, 5);
  --deepblue-color: rgb(0, 56, 171);

  --input-text-color: rgb(107 114 128);
  --input-text-color-write: black;
  --color-gray-400: rgb(209 213 219);
  --color-gray-50: rgb(249 250 251);

  --nav-h: 5rem;

  /* pd-size */
  --p-small: 8px 24px 0 24px;
  --p-medium: 2.5rem;
  --p-big: 5rem;

  --signup-pdsize: 20px;
  --modal-wrapper-width: 540px;
  --input-radius: 7px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}

.dots-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}

.dots-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}

.dots-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}

.c-deepblue {
  color: var(--deepblue-color);
}

.c-text-gray {
  color: #717171;
}

.c-text-lightblack {
  color: rgb(34, 34, 34);
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.img-button-hover {
}

.target {
  opacity: 0;
}

.target1 {
  opacity: 0;
}

.img-button-hover:hover > .target {
  opacity: 0.8;
  transition-duration: 1;
}
